@IMPORT url("reset.css");

/* 
#569D2F
#ffffff
#333333
#999999
#cccccc
#eeeeee
*/

body {  
	color: #333333;
	font-family: Verdana, Helvetica, sans-serif;
	background-color: #ffffff;
	font-size:13px;	
}

h1 { margin:0px 15px; float:left; width: 650px; }
h2, h3 { font-family: Georgia, serif; font-weight:normal; font-size:21px; color: #569D2F; }

a { color:#569D2F; font-weight: normal; text-decoration: underline; }
a img { text-decoration:none; }

p { margin-bottom:10px; line-height:1.3em; }

.wrapper { width: 1000px; margin: 0 auto; padding:0px 0px; border-left:1px solid #cccccc; border-right:1px solid #cccccc; }
.clearer { clear:both; }

.nav { list-style: none; margin: 0 auto; text-align:right; height:30px; background:#1B181C url('images/top-bg.png') repeat-x top right; border-bottom:1px solid #999999;}
.nav li { color:#FFFFFF; font-weight: normal; display:inline; padding:0px 5px; margin:0px; white-space: nowrap; border-right: 1px solid #ccc;  line-height:30px; }
.nav li.last { border-right:0px;  }
.nav a { color: #ffffff; text-decoration: none;}
.nav span { color: #ffffff; }
.nav .current_page_item A { text-decoration: underline;}


.bs {   	   box-shadow:0px 0px 20px rgba(0,0,0,0.3);
		  -moz-box-shadow:0px 0px 20px rgba(0,0,0,0.3);
	   -webkit-box-shadow:0px 0px 20px rgba(0,0,0,0.3); 
}

.light{ color:#999999; }

.col { float:right; width: 290px; padding: 0px 15px; margin-right: 15px; }
.big-col { margin-right:345px !important; }

#top { background: #ffffff url('images/bg.png') repeat-x top right; }
#content { padding:0px 15px;  margin:0px 15px; }
#footer { font-size:12px; color:#999999; text-align: center; padding: 15px 15px;}

/* homepage */
#homepage #aside { float:right; width: 280px; padding:70px 30px 0px 0px; font-family: Georgia, serif; font-size:18px; font-style:italic; line-height:1.3em; vertical-align: text-top;}

#homepage h2 { margin-bottom:10px; margin-top:20px;  }
#homepage h2.first { margin-top: 0px; }
#homepage h2 a , #homepage h3 a { text-decoration:none; }

#features ul { list-style:none; padding:10px; padding-top:0px; }
#features li { float:left; width:315px; margin:0px 5px;  }
#features li h3 { margin-left:15px; font-size:21px; color: #569D2F; }
.feature { background-color: #eeeeee; padding:15px; line-height:1.3em;}

#bar { margin:15px 0px; padding:10px; background-color: #569D2F; color:#ffffff; text-align:center; }
#bar a { color: #ffffff; }

#references { margin:10px 0px; }
#references li { font-size: 10px; display:block; float:right; width:250px; margin:0px 10px 15px 10px; text-align:left;}
#references img { display:block; margin-bottom:5px; padding:5px; border:1px solid #cccccc;}
#references a { padding:0px 6px; }

#tweets li { margin:10px 0px; }

/* getting started */
#getting-started h2 { color:#333333; font-size:30px; margin-bottom:15px; }

#getting-started #screencasts li { clear:both; padding:5px 0px; } 
#getting-started .thumb { float:right; margin-left:15px; }

#gotodoc {clear:both; font-size:30px; background-color:#eeeeee; font-family: Georgia, serif; text-align:center; padding:15px 250px; margin:15px 0px; }
#gotodoc a { color: #569D2F; text-decoration:none; }

/* documentation */
#documentation h2 { font-size:40px; color:#333333; }
#breadcrumb { clear:both; font-size:18px; background-color:#eeeeee; font-family: Georgia, serif; padding:15px 30px; margin:15px 0px; }
#breadcrumb a { color: #569D2F; text-decoration:none; }

#toc a { text-decoration: none; }
#toc > li { padding:5px 0px; }
#toc ul a { color:#333333; }
#toc ul { list-style: circle; margin-left:10px; padding-left:10px; }
#breadcrumb {}

/* forms */
.form-footer { background:#C9BB9B;  border:0px; border-top:1px solid #6E6D65; padding:10px; color:#6E6D65; text-align:center; margin:0px -10px -10px -10px; border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; -webkit-border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-right-radius: 10px; }

.full-form, .small-form { padding:10px 0px;}
.full-form table th, .full-form table td { padding: 5px 5px;}
.full-form table th { width: 220px; text-align:right; font-weight:normal; color: #6E6D65; }
.full-form table th h3 { text-align:left;}
.full-form table label {  display:block; color: #2F2F32; font-size:16px;}
.full-form input { font-size:16px;  }
.full-form table td input { width:250px; }
.full-form table td.inline input { width:auto; }
.full-form table td.inline label { display: inline; }
.full-form .form-submit {text-align:center; padding:10px 0px}

/* Ajax loading features */
.loading { display: inline; width: auto; font-weight: bold; padding-right: 20px; background: transparent url(ajax-loader.gif) no-repeat right top;}

/* Workspace component */
#workspace a {float: left; overflow: hidden; margin-right: 5px; width: 220px; text-align: left;}
#workspace li {padding: 5px 0}

/* Tapestry overrides */
TABLE.t-data-grid THEAD TR {
    color: white;
    background-color: #569D2F;
}

TABLE.t-data-grid THEAD TR TH {
    padding: 3px;
    white-space: nowrap;
    border: none;
}

TABLE.t-data-grid TH a {
	text-decoration: none;
}


TABLE.t-data-grid {
	border: none;
	width: 100%;
}

TABLE.t-data-grid TBODY TR TD {
	border: none;
	border-top: solid 1px;
    padding: 5px;
}

DIV.t-data-grid {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-data-grid-pager {
    margin: 8px 0px;
}

DIV.t-data-grid-pager A, DIV.t-data-grid-pager SPAN.current {
    text-decoration: none;
    color: black;
    padding: 2px 5px;
    font-size: medium;
    border: 1px solid silver;
    margin-right: 5px;
}

DIV.t-data-grid-pager A:hover {
    border: none;
}

DIV.t-data-grid-pager SPAN.current {
    color: white;
    background-color: #569D2F;
}

TABLE.t-data-grid TR TH A {
    color: white;
}

IMG.t-sort-icon {
	background-color: #569D2F;
    margin-left: 4px;
}

DIV.t-error {
    border: none;
    padding: 0px;
    margin: 10px 0px;
}

DIV.t-error DIV {
    padding: 10px;
    display: block;
    margin: 0px;
    background-color: #E93D00;
    color: white;
    font-weight: bold;
}

DIV.t-error UL {
    margin: 10px 0px;
    background-color: white;
    color: #E93D00;
}


DIV.t-error-single {
    padding: 10px;
    display: block;
    margin: 0px;
    background-color: red;
    color: white;
}

HTML>BODY DIV.t-error LI {
    margin-left: 30px;
}

DIV.t-error LI {
    margin-left: 30px;
    list-style: square;
}

LABEL.t-error {
    color: #E93D00;
}

INPUT.t-error, TEXTAREA.t-error, SELECT.t-error {
    border-color: #E93D00;
    font-style: italic;
    color: #E93D00;
}

DL.t-beandisplay {
    display: block;
    padding: 15px 15px 0;
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 16px;
    background: white;
    border: none;
    width: auto;
    color: #2F2F32;
}

DL.t-beandisplay DT {
    width: 220px;
    display: inline;
    float: left;
    clear: left;
    padding-right: 10px;
    vertical-align: middle;
    text-align: right;
    font-size: 16px;
    font-weight: bold;
}

DL.t-beandisplay DT:after {
    content: none;
}