<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tapestry YUICompressor Integration" annotations="1.5" verbose="2">

  <parameter name="tapestry.web-app-folder" value="src/test/webapp"/>

  <test name="Integration Tests">
    <packages>
      <package name="org.apache.tapestry5.yuicompressor.itest"/>
    </packages>
  </test>
</suite>
