
DIV.js-results .caption
{
    font-weight: bold;
    background-color: #e5e5e5;
    color: white;
}

DIV.js-results DIV.odd
{
  background-color: #e5e5e5;
}

DIV.js-results .active
{
  font-weight: bold;
  background-color: #ffff00;
}

DIV.js-results .pass {
    color: green;    
}

DIV.js-results .fail {
    color: red;    
}

DIV.js-results .exception {
    font-weight: bold;
}