<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Tapestry IOC" annotations="1.5" verbose="2">
  <test name="Public APIs">
    <packages>
      <package name="org.apache.tapestry5.ioc"/>
      <package name="org.apache.tapestry5.ioc.services"/>
      <package name="org.apache.tapestry5.ioc.test"/>
      <package name="org.apache.tapestry5.ioc.util"/>
      <package name="org.apache.tapestry5.util"/>
    </packages>
  </test>
  <test name="Internals">
    <packages>
      <package name="org.apache.tapestry5.ioc.internal"/>
      <package name="org.apache.tapestry5.ioc.internal.services"/>
      <package name="org.apache.tapestry5.ioc.internal.util"/>
    </packages>
  </test>
</suite>
