UL.stack-trace LI {
    font-size: small;
}

LI.usercode-frame {
    font-weight: bold;
    color: blue;
}

LI.omitted-frame {
    color: gray;
    list-style: square;
}

UL.filtered LI.omitted-frame {
    display: none;
}
