DIV.palette {
    display: inline-block;
    vertical-align: text-top;
}

DIV.palette SELECT {
    margin-bottom: 2px;
    width: 200px;
}

DIV.palette-title {
    color: white;
    background-color: black;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
    width: 200px;
}

DIV.palette-available {
    float: left;
}

DIV.palette-controls {
    margin: 5px 5px;
    float: left;
}

DIV.palette-controls > DIV {
    margin-top: 5px;
}

DIV.palette-controls > DIV:first-child {
    margin-top: 0;
}

DIV.palette-selected {
    float: left;
    clear: right;
}

DIV.palette > .help-block {
    clear: left;
}