<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Professional</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Content-Language" content="English"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" type="text/css" href="style.css" media="screen"/>
</head>
<body>
<div id="wrap">

    <div id="header">
        <h1><a href="#">Your Website Title</a></h1>

        <h2>Slogan of your website - H2</h2>
    </div>

    <div id="content">

        <div id="intro">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla imperdiet aliquet orci.
            Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus quis ipsum
            ac mauris vulputate ullamcorper. Praesent nonummy urna a es. Consectetuer adipiscing elit.
            Mauris ac elit sed velit scelerisque nonummy.Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy.
            Nulla imperdiet aliquet orci. Sed quis nibh. Mauris ac elit sed velit scelerisque.
        </div>

        <div id="left">

            <h2><a href="#">Lorem Ipsum dolor sit amet</a></h2>

            <img src="images/pic.gif" alt="Example pic" style="border: 3px solid #eee;"/>
            <br/>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla imperdiet aliquet orci.
            Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus quis ipsum
            ac mauris vulputate ullamcorper. Praesent nonummy urna a es. Consectetuer adipiscing elit.
            Mauris ac elit sed velit scelerisque nonummy.Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy.
            Nulla imperdiet aliquet orci. Sed quis nibh. Mauris ac elit sed velit scelerisque.
            <br/><br/>
            Consectetuer adipiscing elit.
            Mauris ac elit sed velit scelerisque nonummy.Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy.
            Nulla imperdiet aliquet orci. Sed quis nibh. Mauris ac elit sed velit scelerisque.
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla imperdiet aliquet orci.
            Sed quis nibh. Mauris ac elit sed velit scelerisque nonummy. Class aptent taciti sociosqu
            ad litora torquent per conubia nostra, per inceptos hymenaeos. Phasellus quis ipsum
            ac mauris vulputate ullamcorper. Praesent nonummy urna a es.
            <br/><br/>
            Mauris ac elit sed velit scelerisque.
            Lorem ipsum dolor sit amet, consectetuer adipiscing.

        </div>

        <div id="right">

            <h3>Advertisments or Latest Articles</h3>

            <div class="rightads">
                <img src="images/ads.gif" alt="Ads"/>
            </div>

            <div class="menu">
                <h4>Categories</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Art and Humanities</a></li>
                    <li><a href="#">World Politics</a></li>
                    <li><a href="#">World Sports</a></li>
                    <li><a href="#">Categories</a></li>
                    <li><a href="#">Your Category</a></li>
                    <li><a href="#">Something Goes Here</a></li>
                    <li><a href="#">Example Categories</a></li>
                    <li><a href="#">Surfing</a></li>
                </ul>
            </div>

            <div class="menu1">
                <h4>Archives</h4>
                <ul>
                    <li><a href="#">January 2007</a></li>
                    <li><a href="#">February 2007</a></li>
                    <li><a href="#">March 2007</a></li>
                    <li><a href="#">April 2007</a></li>
                    <li><a href="#">May 2007</a></li>
                    <li><a href="#">June 2007</a></li>
                    <li><a href="#">July 2007</a></li>
                    <li><a href="#">August 2007</a></li>
                    <li><a href="#">September 2007</a></li>
                </ul>
            </div>

        </div>

        <div style="clear: both;"></div>
    </div>

    <div id="footer">
        &copy; Copyright by <a href="#">You</a> | Design by <a href="http://www.minimalistic-design.net">Minimalistic
        Design</a>
    </div>

    <div id="bottom"></div>

</div>
</body>
</html>