<html xmlns:t="http://tapestry.apache.org/schema/tapestry_5_0_0.xsd">
    <head>
        <title>Tapestry Integration Test Application #1</title>
        <style>
A.selected
{
  font-size: large;
  font-weight: bold;
}
        </style>
    </head>
    <body>
        <t:body/>
        
        
        <p>
            <a t:type="PageLink" page="Start">Back to index</a>
        </p>
        
      <p>
        Currently on page: ${componentResources.pageName}
      </p>
        
    </body>
    
    
</html>
