/* Tapestry styles all start with "t-" */
DIV.t-error {
    border: 1px solid red;
    padding: 0px;
    margin: 4px 0px;
}

DIV.t-error DIV.t-banner {
    padding: 2px;
    display: block;
    margin: 0px;
    background-color: red;
    color: white;
    font-weight: bold;
}

DIV.t-error UL {
    margin: 2px 0px;
    background-color: white;
    color: red;
}

DIV.t-error LI {
    margin-left: 20px;
}

DIV.t-error-single {
    padding: 2px;
    display: block;
    margin: 0px;
    background-color: red;
    color: white;
}

HTML>BODY DIV.t-error LI {
    margin-left: -20px;
}

.t-invisible {
    display: none;
}

LABEL.t-error {
    color: red;
}

INPUT.t-error, TEXTAREA.t-error, SELECT.t-error {
    border-color: red;
    font-style: italic;
    color: red;
}

IMG.t-error-icon {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background: url(field-error-marker.gif);
}

IMG.t-autoloader-icon {
    margin-left: 4px;
    width: 16px;
    height: 16px;
    background: url(ajax-loader.gif);
}

IMG.t-sort-icon {
    margin-left: 4px;
}

DIV.t-exception-message {
    font-style: italic;
    font-size: 12pt;
    border: thin dotted silver;
    margin: 5px 0px;
    padding: 3px;
}

DIV.t-exception-report, DIV.t-env-data {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-exception-report LI {
    margin-left: -40px;
}

DIV.t-exception-report DT, DIV.t-env-data DT {
    color: green;
    padding-left: 2px;
    background-color: #FFFFCF;
}

DIV.t-exception-report LI {
    list-style: none;
}

SPAN.t-exception-class-name {
    display: block;
    margin-top: 15px;
    font-size: 12pt;
    background-color: #E1E1E1;
    color: blue;
    padding: 2px 3px;
    font-weight: bold;
}

SPAN.t-exception-stack-controls {
    display: block;
    float: right;
}

UL.t-stack-trace LI {
    font-family: Monaco, Times, monospace;
    font-size: 10pt;
    margin-left: -25px;
    list-style: square;
}

LI.t-usercode-frame {
    font-weight: bold;
    color: blue;
}

LI.t-omitted-frame {
    display: none;
    color: gray;
    list-style: square;
}

H1.t-exception-report {
    font-family: "Trebuchet MS", Arial, sans-serif;
    color: red;
}

DIV.t-exception-report DT:after {
    content: ":";
}

DIV.t-exception-report DD, DIV.t-env-data DD {
    margin-left: 10px;
}

TABLE.t-data-table {
    border-collapse: collapse;
    margin: 0px;
    padding: 2px;
}

TABLE.t-data-table TH {
    background-color: black;
    color: white;
}

TABLE.t-data-table TD {
    border: 1px solid silver;
    margin: 0px;
}

DIV.t-beaneditor {
    display: block;
    background: #ffc;
    border: 2px outset brown;
    padding: 2px;
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-beaneditor-row {
    padding: 4px 0px 2px 0px;
}

DIV.t-beaneditor-row LABEL:after {
    content: ":";
}

DL.t-beandisplay {
    display: block;
    padding: 2px;
    font-family: "Trebuchet MS", Arial, sans-serif;
    background: #CCBE99;
    border: 2px outset black;
    width: auto;
}

DL.t-beandisplay DT {
    width: 250px;
    display: inline;
    float: left;
    text-align: right;
    clear: left;
    padding-right: 3px;
    vertical-align: middle;
}

DL.t-beandisplay DT:after {
    content: ":";
}

DIV.t-beaneditor-row LABEL {
    width: 250px;
    display: block;
    float: left;
    text-align: right;
    clear: left;
    padding-right: 3px;
    vertical-align: middle;
}

DIV.t-checklist-row {
    padding: 4px 0px 2px 0px;
}

DIV.t-checklist-row LABEL {
    text-align: right;
    padding-left: 5px;
    vertical-align: middle;
}

INPUT.t-number {
    text-align: right;
}

DIV.t-beandisplay DIV.t-beandisplay-label {
    padding-right: 5px;
}

TABLE.t-data-grid THEAD TR {
    color: white;
    background-color: #809FFF;
}

TABLE.t-data-grid THEAD TR TH {
    text-align: left;
    padding: 3px;
    white-space: nowrap;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
}

TABLE.t-data-grid {
    border-collapse: collapse;
    border-left: 1px solid silver;
}

TABLE.t-data-grid TBODY TR TD {
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 2px;
}

DIV.t-data-grid {
    font-family: "Trebuchet MS", Arial, sans-serif;
}

DIV.t-data-grid-pager {
    margin: 8px 0px;
}

DIV.t-data-grid-pager A, DIV.t-data-grid-pager SPAN.current {
    text-decoration: none;
    color: black;
    padding: 2px 5px;
    font-size: medium;
    border: 1px solid silver;
    margin-right: 5px;
}

DIV.t-data-grid-pager A:hover {
    border: 1px solid black;
}

DIV.t-data-grid-pager SPAN.current {
    color: white;
    background-color: #809FFF;
}

TABLE.t-data-grid TR TH A {
    color: white;
}

IMG {
    border: none;
}

DIV.t-env-data-section {
    padding-left: 5px;
}

DIV.t-env-data DD, DIV.t-exception-report DD {
    margin-left: 25px;
    margin-bottom: 10px;
}

DIV.t-env-data LI {
    margin-left: -25px;
}

DIV.t-env-data-section {
    font-size: 12pt;
    background-color: #E1E1E1;
    color: blue;
    padding: 2px 3px;
    font-weight: bold;
}

TABLE.t-location-outer {
    padding: 5px;
    border-collapse: collapse;
    border: 1px solid black;
    width: 100%;
}

TD.t-location-line {
    width: 40px;
    text-align: right;
    padding: 0px;
    background-color: #E1E1E1;
    padding-right: 3px;
    border-right: 1px solid black;
}

TD.t-location-content {
    border-top: 1px solid silver;
    border-right: 1px solid black;
    white-space: pre;
}

TD.t-location-current {
    background-color: #FFFFCF;
}

TD.t-location-content-first {
    border-top: 1px solid black;
}

DIV.t-palette {
    display: inline;
}

DIV.t-palette SELECT {
    margin-bottom: 2px;
    width: 200px;
}

DIV.t-palette-title {
    color: white;
    background-color: #809FFF;
    text-align: center;
    font-weight: bold;
    margin-bottom: 3px;
    display: block;
}

DIV.t-palette-available {
    float: left;
}

DIV.t-palette-controls {
    margin: 5px 5px;
    float: left;
    text-align: center;
}

DIV.t-palette-controls BUTTON {
    display: block;
    margin-bottom: 3px;
    cursor: pointer;
}

DIV.t-palette-controls BUTTON[disabled] IMG {
    filter: alpha(opacity = 25);
    -moz-opacity: .25;
    opacity: .25;
    cursor: default;
}

DIV.t-palette-selected {
    float: left;
    clear: right;
}

DIV.t-palette-spacer {
    clear: left;
}

IMG.t-calendar-trigger {
    padding-left: 3px;
    cursor: pointer;
}

DIV.t-autocomplete-menu {
    z-index: 9999;
}

DIV.t-autocomplete-menu UL {
    border: 2px outset #cc9933;
    background-color: #cc9933;
    padding: 4px 6px;
    overflow: auto;
}

DIV.t-autocomplete-menu LI {
    color: white;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    border-bottom: 1px solid black;
    cursor: pointer;
}

DIV.t-autocomplete-menu LI.selected {
    color: black;
    font-weight: bold;
}

DIV.t-error-popup SPAN {
    background: transparent url('error-bevel-left.gif') no-repeat;
    display: block;
    line-height: 28px;
    margin-left: 0px;
    padding: 0px 5px 10px 22px;
}

HTML>BODY DIV.t-error-popup SPAN {
    background: transparent url('error-bevel-left.png') no-repeat;
}

DIV.t-error-popup {
    background: transparent url('error-bevel-right.gif') no-repeat scroll top right;
    cursor: pointer;
    color: #FFF;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 39px;
    margin-right: 6px;
    padding-right: 29px;
    text-decoration: none;
}

HTML>BODY DIV.t-error-popup {
    background: transparent url('error-bevel-right.png') no-repeat scroll top right;
}

UL.t-data-list LI {
    list-style-type: square;
}

DIV.t-loading {
    display: inline;
    width: auto;
    font-weight: bold;
    padding-right: 20px;
    background: transparent url(ajax-loader.gif) no-repeat right top;
}

DIV.t-dialog-overlay {
    position: fixed;
    margin: auto;
    top: 0px;
    left: 0px;
    z-index: 9990;
    width: 100%;
    height: 100%;
    background: transparent url("dialog-background.gif");
}

DIV.t-page-loading-banner {
    position: absolute;
    top: 5px;
    left: 5px;
    width: auto;
    font-weight: bold;
    padding: 2px 4px 2px 24px;
    color: black;
    background: white url(ajax-loader.gif) no-repeat 4px center;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

SPAN.t-render-object-error {
    font-weight: bold;
    font: italic;
    color: red;
}

DIV.t-available-values UL LI {
    list-style-type: disc;
    margin-left: 0px;
}

DIV.t-exception-container {
    background: white;
    border: 1px solid black;
    position: fixed;
    top: 50px;
    left: 50px;
    -moz-box-shadow: 6px 6px 3px #888;
    -webkit-box-shadow: 6px 6px 3px #888;
    box-shadow: 6px 6px 3px #888;

}

DIV.t-exception-frame {
}

DIV.t-exception-container .t-exception-close {
    display: block;
    float: right;
    margin: 5px;
    padding-right: 2px;
    padding-left: 22px;
    height: 18px;
    cursor: pointer;
    background: #e8e8e8 url("silk/delete.png") no-repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
