DIV.t-alert-container {

}

DIV.t-alert-controls {
    display: inline-block;
    cursor: pointer;
    background: #e8e8e8 url("silk/delete.png") no-repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
    padding-right: 5px;
}

DIV.t-alert-control A:hover {
    text-decoration: underline;
}

DIV.t-alert-container DIV.t-error {
    background: red url("silk/cancel.png") no-repeat;
    font-weight: bold;
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}

DIV.t-alert-container DIV.t-warn {
    background: #f4da5b url("silk/error.png") no-repeat;
    font-weight: bold;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}

DIV.t-alert-container DIV.t-info {
    background: #08f url("silk/information.png") no-repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
    color: white;
}

DIV.t-alert-container DIV.t-success {
    background: green url("silk/accept.png") no-repeat;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
    color: white;
}

DIV.t-dismiss {
    float: right;
    margin-left: 3px;
    margin-bottom: 3px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    background: url("silk/delete.png")
}

