/* The console is used to show debugging messages. */
DIV.t-console {
    position: fixed;
    z-index: 1;
    top: 2px;
    left: 2px;
}

DIV.t-console-entry {
    font-weight: bold;
    padding: 0px 2px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}

DIV.t-console DIV.t-err {
    background: red url("silk/error.png") no-repeat;
    color: white;
    padding-left: 22px;
}

DIV.t-console DIV.t-warn {
    background: #f4da5b url("silk/error.png") no-repeat;
    color: black;
    padding-left: 22px;
}

DIV.t-console DIV.t-info {
    background: green url("silk/information.png") no-repeat;
    color: white;
    padding-left: 22px;
}

DIV.t-console DIV.t-debug {
    background-color: silver;
    color: black;
    padding-left: 22px;
}
