<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<!--
   | For more configuration information and examples see the Jakarta Log4j
   | website: http://jakarta.apache.org/log4j
 -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">

  <!-- ============================== -->
  <!-- Append messages to the console -->
  <!-- ============================== -->

  <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    <param name="Threshold" value="DEBUG"/>
    <param name="Target" value="System.err"/>

    <layout class="org.apache.log4j.PatternLayout">
      <param name="ConversionPattern" value="%-5p | %c | %d{ISO8601}%n   > %m%n%n"/>
    </layout>
  </appender>

  <!-- ======================= -->
  <!-- Setup the Root category -->
  <!-- ======================= -->
  
  <logger name="org.apache.tapestry5.cdi.CDIInjectionProvider">
    <level value="DEBUG" />
  </logger>
  
  <logger name="org.apache.tapestry5.cdi.CDIObjectProvider">
    <level value="DEBUG" />
  </logger>
  
  <logger name="org.apache.tapestry5.cdi.internal.InternalUtils">
    <level value="DEBUG" />
  </logger>
    
  <logger name="org.apache.tapestry5.cdi.BeanHelper">
      <level value="DEBUG" />
  </logger>

  <logger name="org.apache.tapestry5.cdi.extension.TapestryExtension">
      <level value="DEBUG" />
  </logger>

  <root>
    <priority value ="DEBUG" /> 
    <appender-ref ref="CONSOLE"/>
  </root>
  
</log4j:configuration>
