SPAN.detail {
    font-size: small;
}

UL.t-menu {
    list-style-type: none;
    margin-left: 0;
    padding: 0;
    font-size: 12px;
}

UL.t-menu LI {
    padding: 2px;
    background: #809fff;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 7px;
}

UL.t-menu A {
    color: white;
}

UL.t-menu A:hover {
    text-decoration: underline;
}

DIV.t-space-vertically {
    margin-top: 20px;
}

LABEL:after {
    content: ":"
}

A {
    text-decoration: none;
}