<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/t5_tutorial1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!--

        To create user, login a root and:

            grant all on t5_tutorial1.* to 't5tutorialuser'@'localhost' identified by 'secret';

        -->
        <property name="hibernate.connection.username">t5tutorialuser</property>
        <property name="hibernate.connection.password">secret</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">true</property>
    </session-factory>
</hibernate-configuration>
