/* The console is used to show debugging messages. */
DIV.tapestry-console {
    position: fixed;
    z-index: 1;
    top: 2px;
    left: 2px;
}

DIV.tapestry-console > DIV.entry {
    font-weight: bold;
    padding: 0px 2px;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin-bottom: 5px;
    padding-left: 22px;
}