/* The console is used to show debugging messages. */
.tapestry-console {
    position: fixed;
    z-index: 1100;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 5px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    background-color: #8DBA4A;

}

.tapestry-console > .message-container {
    max-height: 200px;
    overflow-y: scroll;
    font-size: 14px;
    font-family: monospace;
    background-color: white;
    margin-bottom: 2px;
    padding-left: 2px;
}

.tapestry-console > .message-container > .debug {
    color: blue;
}

.tapestry-console > .message-container > .warn {
    color: #c09853;
}

.tapestry-console > .message-container > .error {
    color: #b94a48;
    font-weight: bold;
}
