/* Applied to an input element to provide feedback that something is waiting on an Ajax request:
   examples include server-side validation, or autocompletion. An Ajax "throbber" is displayed
   on the right side of the field. */
input.ajax-wait {
    background: url(ajax-loader.gif) no-repeat center right;
}

th[data-grid-column-sort] a {
    padding-right: 20px;
    background: url(../core/sortable.png) no-repeat right;
}

th[data-grid-column-sort=ascending] a {
    background-image: url(../core/sort-asc.png);
}

th[data-grid-column-sort=descending] a {
    background-image: url(../core/sort-desc.png);
}

/* Some support for the built-in DateField component. */

div.datefield-popup.well {
    position: absolute;
    z-index: 1000;
    margin-top: 2px;
}

/* Numeric fields should have their content right-aligned. */
.numeric {
    text-align: right;
}

