/* The console is used to show debugging messages. */
.tapestry-console {
    position: fixed;
    z-index: 2000;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border-radius: 4px;
    padding: 5px;
}

.tapestry-console > .console-backdrop {
    position: absolute;
    background-color: black;
    opacity: .5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

.tapestry-console > .alert-container {
    max-height: 300px;
    overflow-x: auto;
}

/** Unlike a normal alert, a console message can be dismissed by a click anywhere. */
.tapestry-console .alert{
    cursor: pointer;
    margin-bottom: 5px;
}